{% extends "base.html" %}
{% block page_content %}

<title>Account</title>
<section id="account">
  
    <h1>Account</h1>
    {% block content %}


    {% if user.is_authenticated %}
      <p class="account-name col-sm-11">Username: {{user.username}}</p>
      <p class="account-email col-sm-11">Email: {{user.email}}</p>

      <a class=" col-sm-11 account-section col-link" href="../change_password/">
        <p class="account-text">Change Password Here</p>
      </a>
      <a class=" col-sm-11 account-section col-link" href="../edit_profile/">
        <p class="account-text">Change Email Here</p>
      </a>
      <a class=" col-sm-11 account-section col-link" href="{% url 'logout' %}">
        <p class="account text">Logout</p>
      </a>

    {% else %}
    <p>Login <a href="../login/">Here!</a></p>
    <p>No account? Create one <a href="../create_account/">here!</a></p>

    {% endif %}

    {% endblock %}

</section>

{% endblock %}