{% extends "base.html" %}
{% block page_content %}

<title>All Recipes</title>
<section id="all-recipes">
    <h2>All Recipes</h2>

    
    <div class="row all-recipes-row">

        {% for x in recipe_list %}
        <div class="col-sm-11 all-sections">
            <p class="all-recipes-text"><a class="col-link" href="{{ x.get_absolute_url }}">{{ x.name }}</a></p>
            <p class="all-recipes-text">Time: {{ x.time_to_make }} mins</p>
        
        </div>   
        {% endfor %}
        
    </div>
</section>

{% endblock %}