{% extends "base.html" %}
{% block page_content %}

<title>Home</title>
<section id="home">

    <p></p>
    <p></p>
    <p></p>
    <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-sm-4 pinned-col">
                    Pinned Recipes
                </div>
                <div class="col-sm-6 section-col">
                    Recipe Sections
                </div>
            </div>
        </div>


</section>

{% endblock %}
        