{% extends "base.html" %}
{% block page_content %}

<title>Home</title>
<section id="home">
    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 section-col">
                    
                    <!--Display user's sections-->
                    <h2>Sections</h2>
  
                    <div class="row">
                        <a class="col-link col-sm-10 mini-section-special" href="/all_recipes">All Recipes</a>

                        {% for x in home_section_list %}

                        <a class="col-link col-sm-10 mini-section" id="section-block" href="/section/{{ x.slug }}">{{ x.name }}</a>

                        {% endfor %}    

                        <a class="col-link col-sm-10 mini-section-special" href="/section">Add New Section</a>
                    </div>
                </div>

                <div class="col-sm-6 pinned-col">

                    <!--Display user's pinned recipies-->
                    <h2>Pinned Recipes</h2>
               
                    <div class="row">

                        {% for x in pinned_recipes_list %}

                        <a class="col-sm-10 mini-pinned pinned-link" href="{{ x.get_absolute_url }}">
                            <p class="pinned-recipes-text">{{ x.name }}</p>
                            <p class="pinned-recipes-text">Time: {{ x.time_to_make }} {{ x.time_unit }}</p>
                        </a>
                        
                        {% endfor %}    

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
        