{% extends "base.html" %}
{% block page_content %}

<title>Home</title>
<section id="home">
    
    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 section-col">
                    <h2>Sections</h2>
  
                    <div class="row">
                        <a class="col-link col-sm-10 mini-section"" href="/all_recipes">All Recipes</a>

                        {% for x in home_section_list %}

                        <a class="col-link col-sm-10 mini-section" id="section-block" href="/section/{{ x.slug }}">{{ x.name }}</a>

                        {% endfor %}             
                        <a class="col-link col-sm-10 mini-section"" href="/section">Add New Section</a>
                    
                    </div>
                </div>

                <div class="col-sm-6 pinned-col">
                    <h2>Pinned Recipes</h2>
               
                    <div class="row">


                        {% for x in pinned_recipes_list %}
                        <div class="col-sm-10 mini-pinned">
                            <p class="all-recipes-text"><a class="pinned-link" href="{{ x.get_absolute_url }}">{{ x.name }}</a></p>
                            <p class="all-recipes-text">Time: {{ x.time_to_make }} mins</p>

                        </div>
                        {% endfor %}    

                            </div>

                    </div>
             

                </div>
            </div>
        </div>


</section>

{% endblock %}
        