{% extends "base.html" %}
{% block page_content %}

<title>Section</title>
<section id="individual-section">

    <h2>{{ section_obj.name }}</h2>

    <div class="row section-all-cols">
        <div class="col-sm-11 individual-section-top">
            <p id="individual-section-description">{{ section_obj.description }}</p>
        </div>
    </div>

    <div class="row individual-section-row">

        {% for x in recipe_list %}
        <a class=" col-sm-11 individual-section-recipe col-link" href="{{ x.get_absolute_url }}">
            <p class="individual-section-text">{{ x.name }}</p>
            <p class="individual-section-text">Time: {{ x.time_to_make }} mins</p>
        </a> 
        {% endfor %}
        
    </div>

    <div class="row recipe-bottom">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="green-btn" name="delete">Delete Section</button>
        </form>
    </div>

  
</div>
   
</section>

{% endblock %}