{% extends "base.html" %}
{% block page_content %}

<title>Individual Recipe</title>
<section id="recipe">

    <!-- Recipe title and time section -->
    <div class="row recipe-top">
        <p id="recipe-title">{{ recipe_obj.name }}</p>
        <p id="recipe-time">Time: {{ recipe_obj.time_to_make }} mins</p>
    </div>
    <hr>

    <!-- Ingredients and directions section-->
    <div class="row recipe-middle">
        <div class="col-sm-4 recipe-left">


            <p>Ingredients</p>
            <div class="row ingredient-row">
                {% for ingredient in recipe_obj.get_ingredients_children %}
                <div class="col-sm-4 mini-left">{{ ingredient.quantity }}</div>
                <div class="col-sm-4 mini-left">{{ ingredient.unit }}</div>
                <div class="col-sm-4 mini-left">{{ ingredient.name }}</div>
                {% endfor %}
            </div>

        </div>

        <div class="col-sm-8 recipe-left">
            <p>Directions</p>
            <div class="col-sm-12 mini-right">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <hr>
            <div class="col-sm-12 mini-right">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            <hr>
            <div class="col-sm-12 mini-right">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
        </div>
    </div>

    <!-- Buttons section-->
    <div class="row recipe-bottom">
        <button type="submit" class="blue-btn">{% if recipe_obj.get_edit_url %}<a href="{{ recipe_obj.get_edit_url }}">Edit</a>{% endif %}</button>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="green-btn" name="pinnedbtn">Add to Pinned</button>
        </form>
        <button type="submit" class="green-btn">Add to Section</button>

    </div>


</section>

{% endblock %}