{% extends "base.html" %}
{% block page_content %}

<title>Section</title>
<section id="individual-section">

    <h2>{{ section_obj.name }}</h2>

    <div class="row section-all-cols">
        <div class="col-sm-11 individual-section-top">
            <p id="individual-section-description">{{ section_obj.description }}</p>
        </div>
    </div>

    <div class="row individual-section-row">

        {% for x in recipe_list %}
        <div class="col-sm-11 individual-section-recipe">
            <a class="col-link" href="{{ x.get_absolute_url }}"><p class="individual-section-text">{{ x.name }}</p></a>
            <p class="individual-section-text">Time: {{ x.time_to_make }} mins</p>
        
        </div>   
        {% endfor %}
        
    </div>

  
</div>
   
</section>

{% endblock %}