{% extends "base.html" %}
{% block page_content %}

<title>New Section</title>
<section id="new-section">

    <h2>Add New Section</h2>

    <!-- Add name and description -->
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.name.label_tag }} {{ form.name }}
        <br>
        {{ form.description.label_tag }} 
        <br> 
        {{ form.description }}

        <button id="create-btn" type="submit">Create Section</button>

    </form>

    <a href="/"><button id="cancel-btn" type="Cancel">Cancel</button></a>
    
</section>

{% endblock %}