{% extends "base.html" %}
{% block page_content %}

<title>New Section</title>
<section id="new-section">

    <div class="container-fluid">
          
       
            <label for="Title"> Title</label>
            <input type="text" id="Title" name="Title">
            <br>

            <label for="Color">Color</label>
            <select id="Color" name="Color">
            <option value="Color1">Color 1</option>
            <option value="Color2">Color 2</option>
            <option value="Color3">Color 3</option> 
            </select>

            <br>

            <label for="Description">Description</label>
            <br>

            <textarea id="freeform" name="Description" rows="4" cols="50">
            Enter description here...
            </textarea>

            <br>

            <input type="submit" value="Create Section">
        
      
    </div>
</section>

{% endblock %}