{% extends "base.html" %}
{% block page_content %}

<title>New Recipe</title>
<section id="new-recipe">

        <h2>Add New Recipe</h2>


        <!--inout box for adding title-->
        <label for="Title"> Title</label>
        <input type="text" id="title" name="Title">
        <br>

        <!--input box for time-->
        <label for="Time"> Time</label>
        <input type="text" id="time" name="Time">
        <br>

        <!--drop down menu for selecting section-->
        <label for="Section">Section</label>
        <select id="section-selection" name="Section">
        <option value="select-option">-select option-</option>
        <option value="Section1">section 1</option>
        <option value="Section2">section 2</option>
        <option value="Section3">section 3</option>
        </select>

        <!--code for adding and removing text boxes based on tutorial from https://www.sanwebe.com/2013/03/addremove-input-fields-dynamically-with-jquery-->
        <!--input box for ingredients, add more boxes as needed-->
        
        <div class="input_ingredient_wrap">
            <div class="row">
                <div class="ingredient-col col-sm-7">
                    <div class="ingredient-title">
                        <label for="Ingredient">Ingredients</label>
                        <button id="add-btn" class="add_ingredient_button">Add Ingredient</button>
                    </div>
                    <input type="text" id="ingredient" name="Ingredient">
                </div>

                <div class="amount-col col-sm-4">
                    <div class="amount-title">
                        <label for="Amount">Amounts</label>
                    </div>
                    <input type="text" id="amount" name="Amount">
                </div>
            </div>
        </div>

        
     
                
        <br>

        <!--input box for directions, add more boxes as needed-->
        <div class="input_direction_wrap">
            <div class="col">
                <div class="row">
                    <label for="Direction"> Directions</label>
                    <button id="add-btn" class="add_direction_button">Add Direction</button>
                </div>

                <div class="row">   
                    <input type="text" id="direction" name="Direction" size="150">
                </div>
            </div>
        </div>
        <br>

        <!--add and cancel buttons-->
        <input type="submit" onclick="alert('can not add')" value="Create Recipe">  
        
        <a href="/home">
            <button id="cancel-btn" type="Cancel" >Cancel</button>
        </a>



</section>

{% endblock %}