{% extends "base.html" %}
{% block page_content %}

<title>New Section</title>
<section id="new-section">
    <!--input box for title-->          
    <label for="Title"> Title</label>
    <input type="text" id="title" name="Title">
    <br>

    <!--color selection drop down menu-->
    <!--TO DO: add color visuals and not just name-->
    <label for="Color">Color</label>
    <select id="Color" name="Color">
    <option value="Color1">Color 1</option>
    <option value="Color2">Color 2</option>
    <option value="Color3">Color 3</option> 
    </select>

    <br>

     <!--free form text box for description-->
    <label for="Description">Description</label>
    <br>

    <textarea placeholder="Enter description here..." id="freeform" name="Description"></textarea>

    <br>

     <!--submit and cancel button-->
    <input type="submit" onclick="alert('can not add')" value="Create Section">
            
    <a href="/">
        <button id="cancel-btn" type="Cancel" >Cancel</button>
    </a>


  
</section>

{% endblock %}