{% extends "base.html" %}
{% block page_content %}

<title>Search</title>
<section id="search">
    <!--<h2>Search Results:</h2>-->

    {% if query %}

        <h2>

            {% with recipe_list.count as total_results %}

                {{ total_results }} Recipe{{ total_results|pluralize }} Found

            {% endwith %}

        </h2>

        {% for x in recipe_list %}

        <ul>
            <a class=" col-sm-11 all-sections col-link" href="{{ x.get_absolute_url }}">
                <p class="all-recipes-text">{{ x.name }}</p>
                <p class="all-recipes-text">Time: {{ x.time_to_make }} {{ x.time_unit }}</p>
            </a> 
        </ul>

        {% endfor %}

    {% endif %}
  
</section>

{% endblock %}