{% extends "base.html" %}
{% block page_content %}

<title>Shopping List</title>

    <body>
    <h2>Shopping List</h2>

    <u1>
    {% for x in food_list %}
         <p>{{ x.name }} _____quantity: {{ x.quantity }}</p>
    {% endfor %}
    </u1>

    <form action="/add/" method="post">
        {% csrf_token %}

        {% for field in ShoppingForm %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        {% endfor %}

        <button id="create-btn type="submit">Add to list</button>
    </form>
    </body>

{% endblock %}