{% extends "base.html" %}
{% block page_content %}

<title>Shopping List</title>
<section id="shopping-list">

    <h1>Shopping List</h1>

    <!-- diplay items in list-->
    <u1>
        {% for x in food_list %}
        
            <form action="/delete/{{x.id}}/" method="post">
                {% csrf_token %}
                <li class="shopping-items col-sm-6">{{ x.name }} - {{ x.quantity }}
                <button type="submit" id="shopping-remove-btn" name="delete">Remove</button></li>
            </form>
            
        {% endfor %}

    </u1>

    <br>

    <!-- add to list -->
    <form action="/add/" method="post">
        {% csrf_token %}

        {% for field in ShoppingForm %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        {% endfor %}

        <button id="shopping-add-btn" type="submit">Add to list</button>

    </form>

</section>

{% endblock %}