{% extends "base.html" %}
{% block page_content %}

<title>Change Password</title>
    <section id="account">

    {% block title %}
    Enter a new password
    {% endblock %}
    
    {% block content %}
    
    {% if validlink %}
    
    <h1>Set a new password!</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
    </form>

    {% else %}

    <p>The password reset link was invalid; please try again.</p>

    {% endif %}
    
</section>
{% endblock %}
{% endblock %}
