{% extends 'base.html' %}
{% block page_content %}

<title>Password Reset</title>
<section id="account"

  {% block title %}
  Reset Password here
  {% endblock %}

  {% load crispy_forms_tags %}

  {% block content %}
    <h1>Forgot your password?</h1>
    <p>Enter your email address, and we'll send instructions for setting a new one :)</p>

    <form methods="POST">
      {% csrf_token %}
      {{form|crispy}}
      <input type="submit" value="Send!">
    </form>
</section>
{% endblock %}
{% endblock %}