
body,
#landing {
    padding: 0;
    margin: 0;  
    background: #ffff;
    font-family: 'Sansita', sans-serif; /* add backup fonts */

    position: relative;
    min-height: 100vh;
}
.page-content {
    padding-bottom: 2.5rem;
}


  


/* STYLE LOGIN PAGE */
#landing {
    display: grid;
    justify-items: center;
    align-items: center;

    background-color: #e2efe7;
}

.landing-box {
    display: grid;
    justify-content: space-around;
    width: 45vw;
    height: 80vh;
    background-color: white;
    border: 2px solid #809bce;
}

.landing-logo,
.landing-text {
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 10px;

}

.landing-logo {
    max-width: 100%;
    max-height: 80%;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
}

.landing-form {
    font-size: 15px;
}

.landing-text,
.landing-form {
    color: #809bce;
    
}

.landing-text,
.no-acc {
    font-size: 20px;
}

.landing-btn {
    background-color: #e2efe7;
    color: #809bce;

    height: 35px;
    width: 115px;

    font-size: 20px;
}

.landing-link:link {
    text-decoration: none;
}
/* STYLE CRISPY landing-form- */
.asteriskField {
    display: none;
}


.text-box {
    position: relative;
    top: -50px;
}
.forgot-pass,
.landing-btn {
    position: relative;
    top: -15px;
}
















  










/* STYLE NAVIGATION BAR */
.navbar {
    background: #e2efe7; 
    margin: 0;
    padding: 8;
}

/* Logo */
.navbar-brand{
    padding: 0;
}

/* Page Links */
.nav-link {
    height: 50px;
    font-size: 22px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;   
}

.nav-link,
.navbar button {
    color: #809bce;

}

.navbar button{
    height: 50px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;

    background: rgba(184, 216, 205, 0.5); 
}

.menu input[type=search],
.navbar button {
    border: none;
    outline: none;
}

.menu input[type=search],
::placeholder {
    color: #809bce;
    height: 50px;
    font-size: 20px;
}

.menu input[type=search] {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;

}

.searchbar {
    margin: 10px;
}

.navbar-collapse {
    justify-content: flex-end;
}
.custom-toggler.navbar-toggler {
    border-color: #809bce;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(69, 108, 180, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}








/* STYLE FOOTER */
footer {
    position: absolute;
    bottom: 0;


    height: 2.5rem;
    width: 100%;
    text-align: center;
    color: #809bce;
}

.web-link:link {
    text-decoration: none;
}
.web-link {
    color: #809bce;
}











/* STYLE HOME PAGE */
#home {
    padding-top: 20px;
}

.section-col {
    background: #d6eadf;
    /* border: 2px solid #aebeb5; */ /* maybe */

}

.pinned-col {
    background: #95b8d1;
    /* border: 2px solid #7995a9; */ /* maybe */
}

.section-col h2 {
    color: #809bce;
}

.pinned-col h2 {
    color: #ffff;
}

.section-col,
.pinned-col {
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* All columns */
.section-col,
.pinned-col,
.mini-section,
.mini-pinned {
    border-radius: 10px;
}

/* Nested Sections */
.mini-section {
    border: 2px solid #aebeb5;
    color: #809bce;
}

.mini-pinned {
    border: 2px solid #7995a9;
    color: #ffff;
}

.mini-section,
.mini-pinned {

    padding: 8px;
    font-size: 25px;
    text-align: left;
    height: px;
    margin: 12px;
}

.col-link {
    color: #809bce;
}
.col-link:link {
    text-decoration: none;
}

#home .row {
    justify-content: space-evenly;

}








/* STYLE NEW SECTION AND NEW RECIPE PAGES */
#new-section,
#new-recipe {
    margin: 20px;
    color: #809bce;
    font-size: 22px;
}


#title,
#freeform {
    color: #809bce;
    font-size: 20px;
    background-color: rgba(226, 239, 231, .6);
    /* #e2efe7;*/

    outline: none;
    border: 1px solid #ffffff;
    padding-left: 8px;
}

#title {
    min-width: 80vw;
    margin: 8px;
}

#freeform{
    min-height: 40vh;
    min-width: 88vw;
    margin: 0;
}


input[type=submit],
#cancel-btn {
    cursor: pointer;
    border: none;

    font-size: 20px;
}


input[type=submit] {
    background-color: #809bce;
    color: #ffff;


    margin-top: 10px;
    margin-right: 15px;

    height: 50px;
    width: 150px;

}

#cancel-btn {
    outline: none;
    background-color: #e2efe7;
    color: #809bce;


    height: 50px;
    width: 130px;

}

/* STYLE NEW RECIPE PAGE */

#direction,
#ingredient,
#amount {
    color: #809bce;
    font-size: 20px;
    background-color: rgba(226, 239, 231, .6);


    outline: none;
    border: 1px solid #ffffff;
}

#ingredient-col,
#amount-col,
#remove-col {
    margin: 1px;

}

#remove {
    
    color: #809bce;
}

#add-btn {
    height: 30px;
    width: 130px;
    margin: 8px;
    font-size: 15px;
    color: #ffff;
    background-color: #809bce;

}

#direction {
    min-width: 90vw;
}

#ingredient {
    min-width: 50vw;
}

#amount {
    max-width: 10vw;
    margin-left: 55px;
}

/*

#ingredient {
    max-width: 80%;
}

#amount {
    max-width: 30%;
}

#ingredient-col,
#amount-col,
#remove-col {
    margin: 1px;

}



.ing-amt {
    display: flex;
}

*/





/* STYLE INDIVIDUAL RECIPE PAGE */
#recipe {
    padding: 10px;
}

.recipe-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
#recipe-title {

    margin: 0;
    margin-left: 15px;
    font-size: 35px;
}

/* blue text */
#recipe-title,
.mini-left,
.mini-right {
    color: #809bce;
}

/* green text */
#recipe-time,
.recipe-left,
.recipe-right {
    color: #b8d8cd;
    font-size: 28px;
}
#recipe-time {
    margin: 0;
    margin-right: 15px;  
}

hr {
    background-color: #b8d8cd;
    height: 2px;
    border: none;
}


.recipe-left,
.recipe-right {
    text-align: center;
}

.mini-left{
    padding: 5px;
}
.mini-left,
.mini-right {
    font-size: 22px;

}


/* set for all buttons */
button,
button[type=submit] {
    border: none;
    outline: none;
    cursor: pointer;
}

.blue-btn {
    color: #ffff;
    background-color: #809bce;
}

.green-btn {
    color: #809bce;
    background-color: #e2efe7;
    
}

.blue-btn,
.green-btn {
    height: 50px;
    width: 150px;
    margin: 15px;
    font-size: 20px;

}