
body {
    padding: 0;
    margin: 0;  
    background: #ffff;
    font-family: 'Sansita', sans-serif; /* add backup fonts */

}



/* Navigation Bar */
.navbar {
    background: #e2efe7; 
    height: 130px;  
}


/* Page Links */
.nav-link {
    height: 50px;
    font-size: 22px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
   
}

.nav-link,
.navbar button {
    color: #809bce;
    cursor: pointer;
}

.navbar button{
    height: 50px;
    font-size: 20px;
    padding: 10px;

    background: rgba(184, 216, 205, 0.5); 
}

.menu input[type=search],
.navbar button {
    border: none;
    outline: none;
}

.menu input[type=search],
::placeholder {
    color: #809bce;
    height: 50px;
    font-size: 20px;
    
}

.menu input[type=search] {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;

}

.searchbar {
    margin: 10px;
}

.navbar-collapse {
    justify-content: flex-end;
}
.custom-toggler.navbar-toggler {
    border-color: #809bce;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(69, 108, 180, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}






/* Style Footer */
footer {
    height: 15px;
    width: 100%;
    text-align: center;
    color: #809bce;
}

.web-link:link {
    text-decoration: none;
}
.web-link {
    color: #809bce;
}




/* Style Home Page */
.section-col {
    background: #d6eadf;
    /* border: 2px solid #aebeb5; */ /* maybe */

}

.pinned-col {
    background: #95b8d1;
    /* border: 2px solid #7995a9; */ /* maybe */
}


.section-col h2 {
    color: #809bce;
}



.pinned-col h2 {
    color: #ffff;
}

.section-col,
.pinned-col {
    text-align: center;
    margin: 10px;
    padding-top: 10px;

}

/* ALL COLUMNS */
.section-col,
.pinned-col,
.mini-section,
.mini-pinned {
    border-radius: 10px;
}

/* NESTED SECTIONS */
.mini-section {
    border: 2px solid #aebeb5;
    color: #809bce;
}

.mini-pinned {
    border: 2px solid #7995a9;
    color: #ffff;
}


.mini-section,
.mini-pinned {

    padding: 8px;
    font-size: 25px;
    text-align: left;
    height: 60px;
    margin: 15px;
}

.col-link {
    color: #809bce;
}
.col-link:link {
    text-decoration: none;
}

#home .row {
    justify-content: space-evenly;
    min-height: 65vh;
}