
body,
#landing {
    padding: 0;
    margin: 0;  
    background: #ffff;
    font-family: 'Sansita', sans-serif; /* add backup fonts */

    position: relative;
    min-height: 100vh;
}
.page-content {
    padding-bottom: 2.5rem;
}


/* STYLE NAVIGATION BAR */
.navbar {
    background: #e2efe7; 
    margin: 0;
    padding: 8;
}

/* Logo */
.navbar-brand{
    padding: 0;
}

/* Page Links */
.nav-link {
    height: 50px;
    font-size: 22px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;   
}

.nav-link,
.navbar button {
    color: #809bce;

}

.navbar button{
    height: 50px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;

    background: rgba(184, 216, 205, 0.5); 
}

.menu input[type=search],
.navbar button {
    border: none;
    outline: none;
}

.menu input[type=search],
::placeholder {
    color: #809bce;
    height: 50px;
    font-size: 20px;
}

.menu input[type=search] {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;

}

.searchbar {
    margin: 10px;
}

.navbar-collapse {
    justify-content: flex-end;
}
.custom-toggler.navbar-toggler {
    border-color: #809bce;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(69, 108, 180, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}








/* STYLE FOOTER */
footer {
    position: absolute;
    bottom: 0;


    height: 2.5rem;
    width: 100%;
    text-align: center;
    color: #809bce;
}

.web-link:link {
    text-decoration: none;
}
.web-link {
    color: #809bce;
}











/* STYLE HOME PAGE */
.section-col {
    background: #d6eadf;
    /* border: 2px solid #aebeb5; */ /* maybe */

}

.pinned-col {
    background: #95b8d1;
    /* border: 2px solid #7995a9; */ /* maybe */
}

.section-col h2 {
    color: #809bce;
}

.pinned-col h2 {
    color: #ffff;
}

.section-col,
.pinned-col {
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* All columns */
.section-col,
.pinned-col,
.mini-section,
.mini-pinned {
    border-radius: 10px;
}

/* Nested Sections */
.mini-section {
    border: 2px solid #aebeb5;
    color: #809bce;
}

.mini-pinned {
    border: 2px solid #7995a9;
    color: #ffff;
}

.mini-section,
.mini-pinned {

    padding: 8px;
    font-size: 25px;
    text-align: left;
    height: px;
    margin: 12px;
}

.col-link {
    color: #809bce;
}
.col-link:link {
    text-decoration: none;
}

#home .row {
    justify-content: space-evenly;

}







/* STYLE NEW SECTION PAGE */
#new-section{
    margin: 20px;
    color: #809bce;
    font-size: 22px;
}


#title,
#freeform {
    color: #809bce;
    font-size: 20px;
    background-color: #e2efe7;
    outline: none;
    border: 1px solid #809bce;
    padding-left: 8px;
}

#title {
    min-width: 84vw;
    margin: 8px;
}

#freeform {
    min-height: 40vh;
    min-width: 88vw;
    margin: 0;
}


input[type=submit],
#cancel-btn {
    cursor: pointer;
    border: none;

    font-size: 20px;
}


input[type=submit] {
    background-color: #809bce;
    color: #ffff;


    margin-top: 10px;
    margin-right: 15px;

    height: 50px;
    width: 150px;

}

#cancel-btn {
    outline: none;
    background-color: #e2efe7;
    color: #809bce;


    height: 50px;
    width: 130px;

}

/* STYPE NEW RECIPE PAGE */





